version: '3.8'
services:
  client:
    build: .
    container_name: my-container
    ports:
      - "5173:5173"
    depends_on:
      - api
    volumes:
      - .:/app
      - /app/node_modules   

  api:
    build: ./backend
    container_name: api
    command: npm run dev
    ports:
      - "3000:3000"
      - "5555:5555"
    volumes:
    - ./backend:/app
    - /app/node_modules  

  db:
    image: postgres:15
    container_name: todo-db
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: todo_db
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data

# 一番下に追記（インデントなし）
volumes:
  db-data:    
